<%= form_with model: @food, local: true do |f|%>
  <%= render 'shared/error_messages', model: f.object %>
  <div class="field">
    <%= f.label :title, "料理名" %><br />
    <%= f.text_field :title, id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :catch_copy, "キャッチコピー" %><br />
    <%= f.text_area :catch_copy, class: :form__text, id:"prototype_catch_copy" %>
  </div>

  <div class="field">
    <%= f.label :menu, "レシピ" %><br />
    <%= f.text_area :menu, class: :form__texta, id:"prototype_concept" %>
  </div>

  <div class="field">
    <%= f.label :image, "料理の画像" %><br />
    <%= f.file_field :image, id:"prototype_image" %>
  </div>

  <div class="actions">
    <%= f.submit "投稿する", class: :form__btn  %>
  </div>
<% end %>